node_modules/
.DS_Store
.env
.env.*
!.env.example

# Expo / React Native
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Native builds
apps/mobile/android/
apps/mobile/ios/

# NestJS
coverage/
apps/api/dist/

# Logs
*.log
npm-debug.log*

